fastapi
uvicorn[standard]
pydantic
pydantic_settings
structlog
azure-monitor-opentelemetry
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-requests
requests
msal
openai
azure-identity
azure-appconfiguration
azure-cosmos
azure-storage-blob
httpx
PyJWT
cryptography
pytest
pytest-asyncio
aiohttp
python-multipart